@media print{
  @page {
    size: landscape;
  }
}

.container-label {
  /* background-color: red; */
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}


.label-box {
    border: 3px solid black;
    padding: 20px;
    width: 9.4cm;
    font-size: 18px;
    position: relative;
}

.label-box span {
  font-weight: bold;
}

.garis {
  border: 1px dotted black;
  margin: 10px;
  padding: 8px; 
}

.label-box svg {
    transform: translateX(50px);
    transform: translateY(-50px);
    position: absolute;
    /* left: 0; */
    right: 20px;
    top: 64px;
}